* {
  padding: 0;
  margin: 0
}

body {
  background-color: whitesmoke;
   font-family: 'Gilda Display', serif;
}

@font-face {
  font-family: 'Afrah';
  src: url('../font/WFK/Afrah-Bold.woff') format('woff');
  src: url('../font/WFK/Afrah-Bold.eot');
  src: url('../font/WFK/Afrah-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/WFK/Afrah-Bold.woff2') format('woff2'),
       url('../font/WFK/Afrah-Bold.woff') format('woff'),
       url('../font/WFK/Afrah-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Afrah';
  src: url('../font/WFK/-Regular.woff') format('woff');
  src: url('../font/WAfrahFK/Afrah-Regular.eot');
  src: url('../font/WFK/Afrah-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/WFK/Afrah-Regular.woff2') format('woff2'),
       url('../font/WFK/Afrah-Regular.woff') format('woff'),
       url('../font/WFK/Afrah-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



/* NAVIGATION BAR */
header {
  height: 100vh;
  text-align: center;
  margin-bottom: 20px;
  /* background: #6cd29f; */  
  z-index: 999;
}

h1 {
  font-family: 'Abhaya Libre';
}

h2 {
  font-family: 'Dongle';
  color: white;
  font-size:xx-large;
}
/* 
header h1 {
  position: relative;
  top: 50%;
 
  font-size: 50px;
} */
/* 

	padding-left:50%;
	margin-left:-150px;
	z-index:-1;
	height:310px;
	padding-top:10px;
}
 */


 .bottomleft {
  /* position: absolute; */
  right: -11px;
  bottom: 4px;
  /* text-align: center; */
  height: 93vh;
  margin: auto;
  /* max-width: 600px; */
  display: flex;
}

/* .logo-big {
display:block;
width: 100%;
}

.logo-big .svg {
display: block;
width: 100%;
height: 300px;
} */
.logo-big {
  display:flex;
  width: 99%;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo-big .svg {/*   display: block; *//* width: 100%; *//* height: 300px; */padding: 20px;}

img.svg {transition: all 0.3s ease-in-out;max-width: 400px;}
   
  img.svg:hover  {
    transform: scale(1.05);
  }
  /* @media screen and (max-width:600px) {
  
    .bottomleft {
      position: absolute;
      right: 70px;
      left: 70px;
      text-align: center;
      z-index: 10;
      margin: auto;
      max-width: 600px;
    }
    */
    /* Logo In Center For Mobile Device*/
    /*
    .logo-big {
      display: block;
      width: 100%;
      position: absolute;
      top: 500px;
      margin-top: -75px;
      
    }
    .logo-big .svg display: block;  {
      width: 100%;
      height: auto;
    }
  } */

nav {
  width: 100%;
  text-align: center;
  background: whitesmoke;
  left: 0;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, .2);
}

.top-nav {
  position: fixed;
  top: 0;
    z-index: 999;
}

.bottom-nav {
  position: absolute;
  bottom: 0;

}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;

}


.nav ul li .nav-link {
  text-decoration: none;
  color: #ccc;
  padding: 20px;

}

.nav ul li .nav-link:hover {
  background: #333;
  color: #efefef
}

.container1 {display:flex;flex-direction: column;width: 70%;margin: 50px auto;padding: 10px;align-items: center;}

.container1 .box {
  /* width: 100%; */
  padding: 50px;
  background: #fff;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, .1);
}

/* GALLERY CARDS */


.container2 {
  display:flex;
  width: 100%;
  /* margin: 50px auto; */
  /* padding: 10px; */
  align-items: center;
  justify-content: space-evenly;
}

div.gallery {
  margin: 50px;
  border: 1px solid #ccc;
  /* float: left; */
  /* width: 250px; */
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}





/* FOOTER */


ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

#contact a {
  color: #395186;
  margin: 10px;
}

#contact {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #AAC9D1;
}

.icon {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, box-shadow 0.5s;
  box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
}

#icon-container {
  display: flex;
  justify-content: center;
}

.icon:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
}

#contact p {
    font-size: 14px;
}

@media screen and (max-width: 426px) {
 #icon {
   width: 30px;
   height: 30px;
  }
  
  ul li {
    font-size: 12px;
  }
  
  #contact p {
    font-size: 10px;
  }
}

@media screen and (min-width: 2560px) {
 #icon {
   width: 50px;
   height: 50px;
  }
  
  ul li {
    font-size: 20px;
  }
  
  #contact p {
    font-size: 16px;
  }
}



/* BACKGROUND SLIDESHOW */
.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -999;
}

/* IMAGES */
.crossfade > figure:nth-child(1) {
  background-image: url('../img/014.jpg');
}
.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('../img/027.jpg');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('../img/006.jpg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('../img/035.jpg');
}
.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('../img/013.jpg');
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

